
    <div class="jumbotron">
        <h1>Angular Loading Bar</h1>
        <p>
            An automatic loading bar using angular interceptors.
            <small>  
                It works automatically, so simply include it as a dependency and it will automatically display the progress of your 
            </small>
            <code>$http</code>
        </p>
        <h2>Angular PDF Make</h2>
        <p>
            <button class="btn btn-primary" ng-click="generatePdf()">Generate PDF</button>
        </p>
    </div>
    <div class="examples">
        <a href="#" class="btn btn-primary" ng-click="start()"></a>
        <a href="#" class="btn btn-primary" ng-click="complete()"></a>
    </div>